.weatherBg{
  background: url("https://rare-gallery.com/uploads/posts/124416-miui-8-rainy-weather-background-minimal-hd.png");
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.heading{
  color:white;
  font-weight: 700;
}
.weatherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}
.weatherIcon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.weatherCity{
  font-size: 35px;
}
.weatherTemp{
  font-size:55px;
  font-weight: 700;
}